body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3ff;
  text-align: center;
}

h1 {
  margin: 10px;
}

#blocklyDiv {
  height: 600px;
  width: 100%;
  border-top: 2px solid #ddd;
}
